In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
from collections import defaultdict

# Try to pull all Friday releases for movies in April 2016
url = 'http://www.imdb.com/movies-coming-soon/2016-04'
response = requests.get(url)
while(not response.ok):
    response = requests.get(url)

page = response.text
soup = BeautifulSoup(page,'lxml')

# Pulling upcoming movies from IMDB
release_dict = defaultdict(list)
for item in soup.find_all('h4'):
    item = item.find('a').text
    if(item[0] != " "):
        value = item.strip()
    else:
        name = item.split('(')[0].strip()
        release_dict[name].append(value)
        release_dict[name].append(item.split('(')[1].replace(')',''))
        
release_dict = pd.DataFrame.from_dict(release_dict,orient='index')
release_dict = release_dict.reset_index()
release_dict.columns = ['Title','Date','Year']
release_dict

                          Title      Date  Year
0                          Nina  April 22  2016
1                     Mr. Right   April 8  2015
2                      The Boss   April 8  2016
3        Everybody Wants Some!!   April 1  2016
4                   The Meddler  April 22  2015
5       A Hologram for the King  April 22  2016
6                 Tale of Tales  April 22  2015
7                The Invitation   April 8  2015
8               A Space Program   April 8  2015
9                       Colonia  April 15  2015
10                  Sing Street  April 15  2016
11           A Beautiful Planet  April 29  2016
12              The Jungle Book  April 15  2016
13                 Un tango más  April 15  2015
14       Papa Hemingway in Cuba  April 29  2015
15                        Keanu  April 29  2016
16      Natural Born Pranksters   April 1  2016
17              Ratchet & Clank  April 29  2016
18              Rio, I Love You  April 15  2014
19                     Criminal  April 15  2016
20               The Dark Horse   April 1  2014
21             God's Not Dead 2   April 1  2016
22                          Fan  April 15  2016
23                  Miles Ahead   April 1  2015
24     Barbershop: The Next Cut  April 15  2016
25  The Girl in the Photographs   April 1  2015
26    The Man Who Knew Infinity  April 29  2015
27                    Compadres  April 22  2016
28              Vergine giurata  April 15  2015
29                 Mother's Day  April 29  2016
30                   Green Room  April 15  2015
31   The Huntsman: Winter's War  April 22  2016
32            Kill Your Friends   April 1  2015
33       The Dying of the Light   April 8  2015
34               Hatuna MeNiyar   April 8  2015
35                La tête haute   April 1  2015
36                Elvis & Nixon  April 22  2016
37                   Demolition   April 8  2015
38              Meet the Blacks   April 1  2016
39            Louder Than Bombs   April 8  2015
40               Hardcore Henry   April 8  2015
41                         Viva  April 29  2015

In [3]:
# Pull opening weekend revenue for 2015
url = 'http://www.boxofficemojo.com/yearly/chart/?yr=2015&p=.htm'
response = requests.get(url)
while(not response.ok):
    respone = requests.get(url)
    
page = response.text
soup = BeautifulSoup(page,'lxml')

In [7]:
def scrape_opening_weekend(year=2015):
    url = 'http://www.boxofficemojo.com/yearly/chart/?yr='+str(year)+'&p=.htm'
    response = requests.get(url)
    while(not response.ok):
        response = requests.get(url)

    page = response.text
    soup = BeautifulSoup(page,'lxml')
    
    # Find number of pages on table for the year
    item = soup.find('center')
    pages = len(item.find_all('a'))+1
    
    # Pull table from each page
    for i in range(1,pages+1):
        url = 'http://www.boxofficemojo.com/yearly/chart/?page='+str(i)+'&view=releasedate&view2=domestic&yr='+str(year)+'&sort=opengross&p=.htm'
        tables = pd.read_html(url)
        table = tables[2]
        table = table.iloc[6:-6,2:9]
        table.columns = ['title','studio','total_gross','total_theatres','opening','opening_theatres','release_date']
        if i==1:
            df = table
        else:
            df = pd.concat([df,table])
    # Clean up dataframe types
    df.release_date = pd.to_datetime
    return df

In [8]:
data = scrape_opening_weekend()

In [16]:
data

,title,studio,total_gross,total_theatres,opening,opening_theatres,release_date
6,Star Wars: The Force Awakens,BV,"$935,832,841",4134,"$247,966,675",4134,<function to_datetime at 0x109d84d90>
7,Jurassic World,Uni.,"$652,270,625",4291,"$208,806,270",4274,<function to_datetime at 0x109d84d90>
8,Avengers: Age of Ultron,BV,"$459,005,868",4276,"$191,271,109",4276,<function to_datetime at 0x109d84d90>
9,Furious 7,Uni.,"$353,007,020",4022,"$147,187,040",4004,<function to_datetime at 0x109d84d90>
10,Minions,Uni.,"$336,045,770",4311,"$115,718,405",4301,<function to_datetime at 0x109d84d90>
11,The Hunger Games: Mockingjay - Part 2,LGF,"$281,723,902",4175,"$102,665,981",4175,<function to_datetime at 0x109d84d90>
12,Inside Out,BV,"$356,461,711",4158,"$90,440,272",3946,<function to_datetime at 0x109d84d90>
13,Fifty Shades of Grey,Uni.,"$166,167,230",3655,"$85,171,450",3646,<function to_datetime at 0x109d84d90>
14,Spectre,Sony,"$200,074,609",3929,"$70,403,148",3929,<function to_datetime at 0x109d84d90>
15,Pitch Perfect 2,Uni.,"$184,296,230",3660,"$69,216,890",3473,<function to_datetime at 0x109d84d90>
16,Cinderella (2015),BV,"$201,151,353",3848,"$67,877,361",3845,<function to_datetime at 0x109d84d90>
17,Straight Outta Compton,Uni.,"$161,197,785",3142,"$60,200,180",2757,<function to_datetime at 0x109d84d90>
18,Ant-Man,BV,"$180,202,163",3868,"$57,225,526",3856,<function to_datetime at 0x109d84d90>
19,Mission: Impossible - Rogue Nation,Par.,"$195,042,377",3988,"$55,520,089",3956,<function to_datetime at 0x109d84d90>
20,The SpongeBob Movie: Sponge Out of Water,Par.,"$162,994,032",3680,"$55,365,012",3641,<function to_datetime at 0x109d84d90>
21,San Andreas,WB,"$155,190,832",3812,"$54,588,173",3777,<function to_datetime at 0x109d84d90>
22,The Martian,Fox,"$228,433,663",3854,"$54,308,575",3831,<function to_datetime at 0x109d84d90>
23,The Divergent Series: Insurgent,LG/S,"$130,179,072",3875,"$52,263,680",3875,<function to_datetime at 0x109d84d90>
24,Home (2015),Fox,"$177,397,510",3801,"$52,107,731",3708,<function to_datetime at 0x109d84d90>
25,Hotel Transylvania 2,Sony,"$169,700,110",3768,"$48,464,322",3754,<function to_datetime at 0x109d84d90>
26,Mad Max: Fury Road,WB,"$153,636,354",3722,"$45,428,128",3702,<function to_datetime at 0x109d84d90>
27,The Peanuts Movie,Fox,"$130,178,411",3902,"$44,213,073",3897,<function to_datetime at 0x109d84d90>
28,Taken 3,Fox,"$89,256,424",3594,"$39,201,657",3594,<function to_datetime at 0x109d84d90>
29,The Good Dinosaur,BV,"$123,087,120",3749,"$39,155,217",3749,<function to_datetime at 0x109d84d90>
30,Daddy's Home,Par.,"$150,357,137",3483,"$38,740,203",3271,<function to_datetime at 0x109d84d90>
31,Kingsman: The Secret Service,Fox,"$128,261,724",3282,"$36,206,331",3204,<function to_datetime at 0x109d84d90>
32,Get Hard,WB,"$90,411,453",3212,"$33,803,253",3175,<function to_datetime at 0x109d84d90>
33,Ted 2,Uni.,"$81,476,385",3448,"$33,507,870",3442,<function to_datetime at 0x109d84d90>
34,Tomorrowland,BV,"$93,436,322",3972,"$33,028,165",3972,<function to_datetime at 0x109d84d90>
35,Maze Runner: The Scorch Trials,Fox,"$81,697,192",3792,"$30,316,510",3791,<function to_datetime at 0x109d84d90>
...,...,...,...,...,...,...,...
74,Digging Up the Marrow,HF,"$10,969",1,NaN,NaN,<function to_datetime at 0x109d84d90>
75,The Forecaster,FOR,"$10,172",1,NaN,NaN,<function to_datetime at 0x109d84d90>
76,The Mind of Mark DeFriest,CDF,"$10,021",6,NaN,NaN,<function to_datetime at 0x109d84d90>
77,Still Life (2015),Trib.,"$9,481",5,NaN,NaN,<function to_datetime at 0x109d84d90>
78,The Lesson,FM,"$9,045",1,NaN,NaN,<function to_datetime at 0x109d84d90>
79,The Messenger (2015),KL,"$8,309",9,NaN,NaN,<function to_datetime at 0x109d84d90>
80,Steak (R)evolution,KL,"$8,025",7,NaN,NaN,<function to_datetime at 0x109d84d90>
81,Kilo Two Bravo,Hon,"$7,891",11,NaN,NaN,<function to_datetime at 0x109d84d90>
82,On the Way to School,Distrib.,"$7,424",2,NaN,NaN,<function to_datetime at 0x109d84d90>
83,Rubble Kings,Sab.,"$7,416",3,NaN,NaN,<function to_datetime at 0x109d84d90>
84,Dreams Rewired,Icar.,"$6,863",4,NaN,NaN,<function to_datetime at 0x109d84d90>
85,Arabian Nights: Volume 2 - The Desolate One,KL,"$6,398",3,NaN,NaN,<function to_datetime at 0x109d84d90>
86,Barely Lethal,A24,"$6,075",22,NaN,NaN,<function to_datetime at 0x109d84d90>
87,Marquise of O,FM,"$6,048",2,NaN,NaN,<function to_datetime at 0x109d84d90>
88,Black November,P4,"$5,782",NaN,NaN,NaN,<function to_datetime at 0x109d84d90>
89,Tu Dors Nicole,Kino,"$5,662",1,NaN,NaN,<function to_datetime at 0x109d84d90>
90,Far from Men,Trib.,"$5,336",2,NaN,NaN,<function to_datetime at 0x109d84d90>
91,The Princess of France,CGld,"$5,212",1,NaN,NaN,<function to_datetime at 0x109d84d90>
92,Guidance,Strand,"$4,900",2,NaN,NaN,<function to_datetime at 0x109d84d90>
93,Seeds of Time,KL,"$4,630",2,NaN,NaN,<function to_datetime at 0x109d84d90>
94,Arabian Nights: Volume 3 - The Enchanted One,KL,"$4,502",3,NaN,NaN,<function to_datetime at 0x109d84d90>
95,"Farewell, Herr Schwarz",KL,"$4,445",2,NaN,NaN,<function to_datetime at 0x109d84d90>
96,Club Life,Orch.,"$4,444",7,NaN,NaN,<function to_datetime at 0x109d84d90>
97,Back to the Jurassic,CJ,"$4,351",8,NaN,NaN,<function to_datetime at 0x109d84d90>
98,Unfreedom,DFL,"$3,778",8,NaN,NaN,<function to_datetime at 0x109d84d90>
99,The Free Speech Apocalypse,PMD,"$3,726",5,NaN,NaN,<function to_datetime at 0x109d84d90>
100,Hyena,Trib.,"$3,401",6,NaN,NaN,<function to_datetime at 0x109d84d90>
101,Forever (2015),Mont.,"$1,598",1,NaN,NaN,<function to_datetime at 0x109d84d90>
102,Tough Being Loved By Jerks,KL,$697,7,NaN,NaN,<function to_datetime at 0x109d84d90>
103,The Chambermaid,FM,$315,1,NaN,NaN,<function to_datetime at 0x109d84d90>

In [9]:
movies_currentyear = scrape_opening_weekend(2016)

In [10]:
movies_currentyear.head()

,title,studio,total_gross,total_theatres,opening,opening_theatres,release_date
6,Batman v Superman: Dawn of Justice,WB,"$313,381,486",4256,"$166,007,347",4242,<function to_datetime at 0x109d84d90>
7,Deadpool,Fox,"$360,361,721",3856,"$132,434,639",3558,<function to_datetime at 0x109d84d90>
8,The Jungle Book (2016),BV,"$125,094,414",4028,"$103,261,464",4028,<function to_datetime at 0x109d84d90>
9,Zootopia,BV,"$309,258,949",3959,"$75,063,401",3827,<function to_datetime at 0x109d84d90>
10,Kung Fu Panda 3,Fox,"$141,363,717",3987,"$41,282,042",3955,<function to_datetime at 0x109d84d90>

In [11]:
#helping rafa
url = 'http://www.boxofficemojo.com/search/?q=x-men:%20the%20last%20stand'
response = requests.get(url)
soup = BeautifulSoup(response.text,'lxml')

In [12]:
soup.find_all('b')[1].find('a').get('href')

'/movies/?id=x3.htm'

In [13]:
soup.find('tr',attrs={'bgcolor':'#FFFF99'}).find('a').get('href')

'/movies/?id=x3.htm'

In [14]:
BeautifulSoup.find_all?

In [15]:
import numpy as np
np.NaN

nan

In [193]:
for year in range(1982,2017):
    url = 'http://www.boxofficemojo.com/monthly/?view=calendargross&chart=byyear&yr='+str(year)+'&view=calendargross'
    tables = pd.read_html(url,header=0)
    table = tables[2]
    table = table.iloc[:-1,:]
    table['year'] = year
    if year == 1982:
        df = table
    else:
        df = pd.concat([df, table])

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [179]:
url = 'http://www.boxofficemojo.com/monthly/?view=calendargross&chart=byyear&yr=2015&view=calendargross'
tables = pd.read_html(url,header=0)

In [191]:
df.head()

       Month Total Gross % ofYear  Movies   Avg.     #1 Movie  Gross % ofTotal
0   DECEMBER      $245.8     7.8%      30   $8.2      Tootsie  $32.1     13.1%
1   NOVEMBER      $159.9     5.1%      29   $5.5  First Blood  $22.4     14.0%
2    OCTOBER      $144.6     4.6%      30   $4.8         E.T.  $21.2     14.7%
3  SEPTEMBER      $194.5     6.1%      28   $6.9         E.T.  $28.0     14.4%
4     AUGUST      $357.7    11.3%      29  $12.3         E.T.  $63.0     17.6%

In [194]:
df

,Month,Total Gross,% ofYear,Movies,Avg.,#1 Movie,Gross,% ofTotal,year
0,DECEMBER,$245.8,7.8%,30,$8.2,Tootsie,$32.1,13.1%,1982
1,NOVEMBER,$159.9,5.1%,29,$5.5,First Blood,$22.4,14.0%,1982
2,OCTOBER,$144.6,4.6%,30,$4.8,E.T.,$21.2,14.7%,1982
3,SEPTEMBER,$194.5,6.1%,28,$6.9,E.T.,$28.0,14.4%,1982
4,AUGUST,$357.7,11.3%,29,$12.3,E.T.,$63.0,17.6%,1982
5,JULY,$398.4,12.6%,29,$13.7,E.T.,$99.3,24.9%,1982
6,JUNE,$381.3,12.1%,29,$13.1,E.T.,$67.0,17.6%,1982
7,MAY,$170.9,5.4%,26,$6.6,Conan the Barbarian,$27.8,16.3%,1982
8,APRIL,$196.8,6.2%,23,$8.6,Porky's,$41.7,21.2%,1982
9,MARCH,$201.1,6.4%,28,$7.2,On Golden Pond,$31.8,15.8%,1982
10,FEBRUARY,$161.9,5.1%,30,$5.4,On Golden Pond,$35.7,22.0%,1982
11,JANUARY,$550.3,17.4%,26,$21.2,Raiders / Lost Ark,$163.9,29.8%,1982
0,DECEMBER,$238.3,8.4%,30,$7.9,Sudden Impact,$39.1,16.4%,1983
1,NOVEMBER,$169.0,5.9%,34,$5.0,The Big Chill,$14.8,8.7%,1983
2,OCTOBER,$173.1,6.1%,35,$4.9,Never Say Never Again,$34.3,19.8%,1983
3,SEPTEMBER,$173.4,6.1%,35,$5.0,Mr. Mom,$25.7,14.9%,1983
4,AUGUST,$321.1,11.3%,36,$8.9,National Lampoon's Vacation,$36.7,11.4%,1983
5,JULY,$367.7,12.9%,28,$13.1,Return of the Jedi,$60.4,16.4%,1983
6,JUNE,$371.2,13.0%,27,$13.7,Return of the Jedi,$95.7,25.8%,1983
7,MAY,$242.9,8.5%,32,$7.6,Return of the Jedi,$45.3,18.7%,1983
8,APRIL,$209.0,7.3%,39,$5.4,Tootsie,$16.6,8.0%,1983
9,MARCH,$174.8,6.1%,39,$4.5,Tootsie,$21.0,12.0%,1983
10,FEBRUARY,$161.2,5.7%,29,$5.6,Tootsie,$31.0,19.2%,1983
11,JANUARY,$240.0,8.4%,23,$10.4,Tootsie,$60.1,25.0%,1983
12,DECEMBER,$8.8,0.3%,9,$978k,Stryker,$1.7,19.6%,1983
0,DECEMBER,$291.4,9.1%,35,$8.3,Beverly Hills Cop,$82.4,28.3%,1984
1,NOVEMBER,$201.2,6.3%,35,$5.7,The Terminator,$21.9,10.9%,1984
2,OCTOBER,$184.3,5.8%,44,$4.2,Teachers,$20.4,11.1%,1984
3,SEPTEMBER,$196.4,6.2%,37,$5.3,Ghostbusters,$21.2,10.8%,1984
4,AUGUST,$336.1,10.5%,33,$10.2,Ghostbusters,$38.3,11.4%,1984
...,...,...,...,...,...,...,...,...,...
10,FEBRUARY,$618.1,5.7%,159,$3.9,Identity Thief,$97.7,15.8%,2013
11,JANUARY,$827.7,7.6%,169,$4.9,Django Unchained,$79.3,9.6%,2013
0,DECEMBER,$904.4,8.7%,177,$5.1,The Hobbit 3,$189.5,21.0%,2014
1,NOVEMBER,$966.4,9.3%,197,$4.9,Mockingjay Part 1,$225.7,23.4%,2014
2,OCTOBER,$758.0,7.3%,248,$3.1,Gone Girl,$129.6,17.1%,2014
3,SEPTEMBER,$517.8,5.0%,223,$2.3,The Maze Runner,$60.2,11.6%,2014
4,AUGUST,"$1,019.5",9.8%,200,$5.1,Guardians of the Galaxy,$275.4,27.0%,2014
5,JULY,$968.1,9.3%,191,$5.1,Dawn of the Planet of the Apes,$180.6,18.7%,2014
6,JUNE,"$1,044.2",10.1%,201,$5.2,Maleficent,$153.4,14.7%,2014
7,MAY,"$1,009.1",9.7%,198,$5.1,The Amazing Spider-Man 2,$191.6,19.0%,2014
8,APRIL,$772.5,7.5%,201,$3.8,Captain America 2,$228.5,29.6%,2014
9,MARCH,$805.8,7.8%,205,$3.9,300: Rise of An Empire,$101.4,12.6%,2014
10,FEBRUARY,$700.5,6.8%,176,$4.0,The LEGO Movie,$192.7,27.5%,2014
11,JANUARY,$894.6,8.6%,181,$4.9,Lone Survivor,$99.8,11.2%,2014
0,DECEMBER,"$1,305.0",11.7%,176,$7.4,Star Wars: The Force Awakens,$652.0,50.0%,2015
1,NOVEMBER,$891.3,8.0%,204,$4.4,The Hunger Games: Mockingjay - Part 2,$201.1,22.6%,2015
2,OCTOBER,$715.2,6.4%,230,$3.1,The Martian,$179.4,25.1%,2015
3,SEPTEMBER,$626.4,5.6%,205,$3.1,Hotel Transylvania 2,$55.8,8.9%,2015
4,AUGUST,$844.1,7.6%,180,$4.7,M:I - Rogue Nation,$150.7,17.8%,2015
5,JULY,"$1,183.6",10.6%,183,$6.5,Minions,$278.8,23.6%,2015
6,JUNE,"$1,233.7",11.1%,172,$7.2,Jurassic World,$514.4,41.7%,2015
7,MAY,"$1,074.5",9.7%,188,$5.7,Avengers: Age of Ultron,$427.6,39.8%,2015
8,APRIL,$778.3,7.0%,182,$4.3,Furious 7,$324.4,41.7%,2015
9,MARCH,$704.5,6.3%,177,$4.0,Cinderella,$153.2,21.8%,2015
10,FEBRUARY,$765.9,6.9%,173,$4.4,Fifty Shades of Grey,$145.0,18.9%,2015
11,JANUARY,"$1,005.0",9.0%,178,$5.6,American Sniper,$242.2,24.1%,2015
0,APRIL,$520.7,15.8%,154,$3.4,The Jungle Book,$125.1,24.0%,2016
1,MARCH,$948.4,28.7%,179,$5.3,Zootopia,$255.9,27.0%,2016
2,FEBRUARY,$799.0,24.2%,156,$5.1,Deadpool,$287.6,36.0%,2016
3,JANUARY,"$1,036.9",31.4%,144,$7.2,Star Wars: The Force Awakens,$243.8,23.5%,2016

In [186]:
table = tables[2]
table = table.iloc[:-1,:]

,Month,Total Gross,% ofYear,Movies,Avg.,#1 Movie,Gross,% ofTotal
0,DECEMBER,"$1,305.0",11.7%,176,$7.4,Star Wars: The Force Awakens,$652.0,50.0%
1,NOVEMBER,$891.3,8.0%,204,$4.4,The Hunger Games: Mockingjay - Part 2,$201.1,22.6%
2,OCTOBER,$715.2,6.4%,230,$3.1,The Martian,$179.4,25.1%
3,SEPTEMBER,$626.4,5.6%,205,$3.1,Hotel Transylvania 2,$55.8,8.9%
4,AUGUST,$844.1,7.6%,180,$4.7,M:I - Rogue Nation,$150.7,17.8%
5,JULY,"$1,183.6",10.6%,183,$6.5,Minions,$278.8,23.6%
6,JUNE,"$1,233.7",11.1%,172,$7.2,Jurassic World,$514.4,41.7%
7,MAY,"$1,074.5",9.7%,188,$5.7,Avengers: Age of Ultron,$427.6,39.8%
8,APRIL,$778.3,7.0%,182,$4.3,Furious 7,$324.4,41.7%
9,MARCH,$704.5,6.3%,177,$4.0,Cinderella,$153.2,21.8%
10,FEBRUARY,$765.9,6.9%,173,$4.4,Fifty Shades of Grey,$145.0,18.9%
11,JANUARY,"$1,005.0",9.0%,178,$5.6,American Sniper,$242.2,24.1%

[Empty DataFrame
 Columns: [Adjuster:  Actuals  Est. Tckts  for(i=2016; i>=1933; i--) {  document.write('<option value="' + i + '"'); 	if(i=='0') document.write(' selected'); 	document.write('>' + i ); 	if(i=='0') document.write(', $' + '0.00'); 	document.write('</option>');  }  1929  1924  1910]
 Index: [], Empty DataFrame
 Columns: [ALL RELEASES, WIDE RELEASES, LIMITED RELEASES, CALENDAR GROSSES]
 Index: []]